//import all arccorp vars
@use "~arccorp-vars/src/scss/main";

@import "./partials/base";
@import "./partials/episodes";
@import "./partials/episode";

// page styles

.tc22-reachout {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "TheHand-Extra-Black", TheHand-Extra-Black, Arial, Helvetica,
    sans-serif;
}

.tc22-email-link {
  font-family: SourceSansPro-SemiBold, arial, sans-serif;
  vertical-align: text-bottom;
}
